
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;

  }
  
  .form label,
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
  
  }
  
  .form label {
    display: flex;
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"] {
    width: 30%;
    margin-right: 0px;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 0px;
    border-radius: 4px;
  }
  
  .button {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    
  }
  