body{
    background-color: #15616d;
}
.content{
    width: 90%;
    height: 30%;
    margin: auto;
}
.content .part_content{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
}

.content .image {
    padding: 5px;
    height: 300px;
}

.content .title {
    color: white;
    text-align: center;
    font-weight: 800;
}