body{
    background-color: #15616d;
}
.content{
    display: flex;
    width: auto;

}
.part_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.content__img > img{
    
    height: 200px;
    margin: 10px;
}
.movies-link{
    text-decoration: none;
}
.movies-link:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.movies-link .content__description{
    color: whitesmoke;
    margin-left: 10px;
}
.movie-title{
    margin: 0;
}