nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #22223b;
    align-items: center;
}
nav h1{
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
}
nav a {
    text-decoration: none;
}
nav span{
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
    color:#fff
}
nav span:hover{
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}
.nav-options{
    display: flex;
    align-items: center;
}
#logo{
    position: relative;
    left: 5%;
    color:#fff;
    font-size: 50px;
}
#search{
    position: absolute;
    margin-left: 87.5%;
    color: #22223b;
    font-size: 23px;
    cursor: pointer;
}
#searchbar{
    position: relative;
    right: 10%;
    height: 25px;
    width: 185px;
    border: none;
    border-radius: 10px;
    outline: none;
    
}
p{
    color:white;
    font-weight: 700;
}
.logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;   
}